// ---- header styles

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  &__side {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  &__btn {
    margin: 1rem;
    background: var(--btn-color);
  }
  
}
.navbar,
.header__btn {
  border-radius: 2.2rem;
  padding: 0.5rem 1rem;
}

.navbar-collapse {
  justify-content: end;
  flex-grow: 0;
  padding-top: 2rem;
}
.navbar-toggler {
  border: 0.1rem solid var(--text-color);
}

.nav-link {
  // color: #333;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: var(--primary-color);
    color: var(--btn-color);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
  }
}