// ---- header styles

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;

		// .header__container

		&__container {
            
		}

		// .header__box

		

		&__navigation {
             
        }

		&__side {
            display: flex;
            gap: 3rem;
            align-items: center;
		}

		// .header__btn

		&__btn {
            margin: 1rem;
            background: var(--btn-color);
		}
}
.navbar, .header__btn {
    border-radius: 2.2rem;
    padding: 0.5rem 1rem;
}

.navbar-collapse {
justify-content: end;
flex-grow: 0;
}
.navbar-toggler {
    border: 0.1rem solid var(--text-color);
}

