// ---- imports style.scss
@import 'reset';
@import 'variables';
@import 'header';
@import 'footer';

// ---- common styles

body {
    font-family: "Nunito", "Roboto";
    font-size: 1rem;
}
[class*="__container"] {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .main {
        flex-grow: 1;
        // padding: 4rem 1rem;
    }
    .footer {
        flex: 0 1 auto;
    }
}