// ---- imports style.scss
@import "reset";
@import "variables";
@import "header";
@import "footer";

// ---- common styles

body {
  font-family: "Nunito", "Roboto";
  font-size: 1rem;
  background: var(--body-bg-color);
}
[class*="__container"] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main {
    flex-grow: 1;
    padding-top: 6rem;
  }
  .footer {
    flex: 0 1 auto;
  }
}

// .swiper {
//   width: 100%;
//   height: 80vh;
//   border-radius: 3rem;
//   img {
//     width: 100%;
//     object-fit: contain;
//     object-position: center;
//   }
// }

// ---- home page - hero section

.main {
  &__container {
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  // .main__picture-block
  &__picture-block {
    height: 80vh;
    border-radius: 3rem;
    background: url(https://cdn.prod.website-files.com/68944afa30155322361e0132/689451b2bb373e7cd1533a6d_Modern%20House%20at%20Dusk.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  &__picture-block::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    background: #00000089;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
}
.block {
  padding: 3rem;
  color: var(--text-light-color);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  // .block__labels
  &__labels {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 2rem;
    }
  }
  // .block__label
  &__label,
  &__heading,
  &__content,
  i,
  p {
    position: relative;
    z-index: 7;
  }
  // .block__heading
  &__heading {
    font-size: 3rem;
  }
  // .block__content
  &__content {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
  }
  &__text {
    max-width: 38rem;
    font-size: 1.7rem;
  }
  // .block__sign
  &__sign {
    flex-shrink: 0;
  }
  // .block__profile-images
  &__profile-images {
    display: flex;
    img {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
    }
  }
  // .block__rates
  &__rates {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: end;
  }
}

// ---- home-page - middle section

.card {
  border-radius: 1.5rem;
  border: none;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  .card-icon,
  .card-text-small {
    background: var(--body-bg-color);
    padding: 1rem;
    border-radius: 2rem;
  }
}
.card-text {
  text-align: center;
  flex-grow: 1;
}
